<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Пример кода</title>
</head>
<body>
<h1>Пример кода</h1>
<h2>API</h2>
<ul>
    <li><a href="/api/profession/">Профессии</a></li>
    <li><a href="/api/department/">Подразделения</a></li>
    <li><a href="/api/person/">Персонал</a></li>
</ul>
<h2>Дополнительно</h2>
<ul>
    <li>
        <a href="/actuator/">Spring Boot Actuator</a>
    </li>
    <li>
        <a href="/h2-console/">Консоль H2</a>
    </li>
    <li>
        <a href="/swagger-ui.html">Swagger-UI</a>
    </li>
</ul>
</body>
</html>
